<%- include partials/portalHeader.ejs %>
<%- include partials/menuBar.ejs%>
<%- include partials/criticalAddPlace.ejs%>

<form action="/place/addPlace" method="post" encType="multipart/form-data">
    <div class="form-group">
        <div class="row top-offset-2 no-horizontal-margin">
            <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4 upload-container filter-container">
                <div class="col-sm-12">
                    <div class="devu-title">
                        <span>Új hely hozzáadása</span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-12">
                    <label for="name">Megnevezés*</label>
                    <input class="form-control" type="text" name="name" required />
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-3">
                    <label for="zip-code">Irányítószám</label>
                    <input class="form-control" type="text" name="zip-code"/>
                </div>
                <div class="col-sm-4">
                    <label for="city">Város</label>
                    <input class="form-control" type="text" name="city"/>
                </div>
                <div class="col-sm-5">
                    <label for="address">Cím</label>
                    <input class="form-control" type="text" name="address"/>
                </div>
                <div class="col-sm-12">
                    <label for="tags">Címkék megadása (jelöld be a helyre jellemző címkéket)</label>
                    <div class="input-group">
                        <select name="tags" class="form-control" id="tags">
                            <% tpl.tags.forEach(function(tag) { %>
                            <option value="<%= tag._id %>"><%= tag.name %></option>
                            <% }) %>
                        </select>
                        <span class="input-group-btn" data-component="add-to-filter add-tag-on-upload">
						    <button class="btn btn-default" type="button">Hozzáadás</button>
					    </span>
                    </div>
                    <div class="added-tags"></div>
                    <select multiple name="addedTags" class="form-control hidden" id="added-tags">
                        <% tpl.tags.forEach(function(tag) { %>
                            <option value="<%= tag._id %>"><%= tag.name %></option>
                        <% }) %>
                    </select>
                </div>
                <div class="col-sm-12">
                    <label for="pictureFile">Képek</label>
                    <input type="file" name="pictureFile" accept="image/*" multiple>
                </div>
                <div class="col-sm-12">
                    <label for="description">Leírás</label>
                    <textarea rows="4" class="form-control" name="description"></textarea>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-12">
                    <input type="submit" class="btn btn-primary btn-block" value="Mentés" data-component="upload" />
                    <p>*ezen mezők megadása kötelező</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</form>
<%- include partials/portalFooter.ejs %>